.header {
  background-color: var(--first-color);
  .navbar {
    padding: 20px 20px;
    @include transitionAll(all, 0.5s, linear);

    .container {
      position: relative;
      .navbar-brand {
        text-transform: uppercase;
        font-size: 22px;
        color: #fff;
        padding: 0;
        font-weight: 900;
        img {
        }
        span {
          font-size: 16px;
          text-transform: uppercase;
          color: #fff;
          margin-left: 10px;
          opacity: 0;
          visibility: hidden;
          transition: all 600ms;
          position: relative;
          left: -50px;
        }
        &:hover {
          span {
            opacity: 1;
            visibility: visible;
            transition: all 600ms;
            left: 0;
          }
        }
      }
      .collapse {
        .open-menu {
          color: #fff;
          font-size: 1.5rem;
          position: absolute;
          right: 0px;
          cursor: pointer;
          @include transitionAll(all, 0.5s, linear);
          z-index: 5;
          i {
            @include transitionAll(all, 0.5s, linear);
          }
        }
        // Ul
        .navbar-nav {
          position: relative;
          right: -100%;
          opacity: 0;
          z-index: -1;
          @include transitionAll(all, 0.5s, linear);

          // Li
          li.nav-item.active {
          }
          li.nav-item {
            a.nav-link {
              color: #fff;
              text-transform: uppercase;
              font-weight: 500;
            }
          }
        }
        .show-navbar-nav {
          right: 0;
          opacity: 1;
          z-index: 1;
        }
        // form
        form {
          .search {
            border: none;
            height: 36px;
            width: 36px;
            border-radius: 18px;
            padding-left: 36px;
            background: url(../images/icon//search.svg) no-repeat 10px/16px
              white;
            cursor: pointer;
            transition-property: white, border-radius, box-shadow;
            transition-duration: 300ms;
            color: #fff;
            margin-right: 20px;
            &:focus {
              width: 200px;
              border-radius: 4px;
              box-shadow: 0 0 0 2px var(--first-color);
              outline: none;
              cursor: auto;
            }
          }
        }
      }
    }
  }
  .scroll-header {
    background-color: #333;
    padding: 10px;
  }
}
