.home-banner {
  background-image: url(../images/homePage//b-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0px 0;
  height: 100vh;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #ff4a5d;
    opacity: 0.7;
    z-index: 1;
  }
  .wrapper-disc {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    @include flexCenter;
    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      .text {
        margin: auto;
        text-align: center;
        p {
          color: #fff;
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 0.8px;
          font-family: "PT Serif", serif;
          font-style: italic;
          padding-bottom: 18px;
        }
        h3 {
          color: #fff;
          font-weight: 500;
          font-size: 3rem;
          line-height: 1.2;
          max-width: 650px;
          margin: 0 auto;
          .liner {
            border-bottom: 2px solid #fff;
          }
          @include xs-media {
            font-size: 2rem;
            width: 80%;
            margin: auto;
          }
        }
      }
      .icon {
        margin: auto;
        color: #fff;
        .bounce {
          animation: bounce 2s infinite;
        }
        .arrow {
          text-align: center;
          color: #fff;
          position: absolute;
          bottom: 50px;
          left: 0;
          right: 0;
          cursor: pointer;
          i {
            cursor: pointer;
          }
        }
      }
    }
  }
}

// about-us
.about-us {
  padding: 100px 0;
  .container {
    .section-title {
      margin-bottom: 80px;
      h2 {
        font-weight: bold;
      }
      a {
        float: right;
        padding: 12px 50px;
        font-size: 11px;
        line-height: 1.42857143;
        border-radius: 0px;
        user-select: none;
        background-color: transparent;
        border: 2px #d9d9d9 solid;
        color: #404040;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.8px;
        margin-top: -43px;
        text-align: right;
        @include transitionAll(all, 0.5s, linear);
        &:hover {
          background-color: var(--first-color);
          color: #fff;
          border-radius: 5px;
        }
        @include xs-media {
          display: inline-block;
          margin-top: 50px;
          float: none;
        }
      }
      p {
        color: #6f6f6f;
        font-size: 16px;
        max-width: 800px;
        margin: 0 auto;
        font-family: "PT Serif", serif;
        margin-top: 50px;
        span {
        }
      }
    }
    .about-features {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
      gap: 7rem 2%;
      @include xs-media {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 3rem 2%;
      }
      .box {
        display: flex;
        i {
          font-size: 4rem;
          color: #999999;
          margin-right: 2rem;
          @include transitionAll(all, 0.3s, linear);
        }
        &:hover {
          i {
            color: var(--first-color);
          }
        }
      }
    }
  }
}

.home-contact-block {
  background-color: #333;
  padding: 70px 0;
  .container {
    div {
      display: flex;
      justify-content: space-between;
      @include xs-media {
        flex-direction: column;
        a {
          text-align: center;
          width: 50%;
          margin: 1rem auto;
        }
      }
      p {
        font-size: 22px;
        font-weight: 500;
        color: #fff;
      }
      a {
        border: 1px #ff5959 solid;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        background: #ff5959;
        padding: 15px 30px;
        letter-spacing: 0.8px;
      }
    }
  }
}

// our-work-block
.our-work-block {
  padding: 80px 0 160px;
  .section-title {
    margin-bottom: 120px;
    @include clearfix;

    h2 {
      font-size: 32px;
      color: #404040;
      font-weight: 600;
      margin-bottom: 10px;
      display: block;
      max-width: 600px;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      &:before {
        border: 1px #ccc solid;
        width: 64px;
        height: 64px;
        content: "";
        display: inline-block;
        position: absolute;
        margin-top: -12px;
        left: 45%;
        transform: rotate(136deg);
        z-index: -1;
      }
    }
    a {
      float: right;
      padding: 12px 50px;
      font-size: 11px;
      line-height: 1.42857143;
      border-radius: 0px;
      user-select: none;
      background-color: transparent;
      border: 2px #d9d9d9 solid;
      color: #404040;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.8px;
      margin-top: -43px;
      text-align: right;
      @include transitionAll(all, 0.3s, linear);
      &:hover {
        background-color: var(--first-color);
        color: #fff;
      }
      @include xs-media {
        margin-top: 50px;
        float: none;
        display: inline-block;
      }
    }
  }
  .work {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
    gap: 3% 2%;
    @include xs-media {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .item {
      position: relative;
      overflow: hidden;
      width: 100%;
      transition: all 300ms ease-in-out;
      img {
        width: 100%;
        height: 100%;
        max-height: 312px;
        min-height: 312px;
        overflow: hidden;
        object-fit: cover;
        transition: all 300ms ease-in-out;
      }
      .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        background-color: #fff;
        text-align: center;
        font-size: 15px;
        margin: 1rem;
        opacity: 0;
        transition: all 300ms ease-in-out;
        @include flexCenter;
        .wrapper {
          .title {
            margin-bottom: 0;
            text-transform: uppercase;
            color: #4c4c4c;
          }
          .line {
            width: 30%;
            margin: 0.5rem auto;
            height: 2px;
            background-color: #333;
          }
          .link {
            a {
              color: #999;
            }
          }
          .icon {
            i {
              padding: 0.5rem;
              background-color: var(--first-color);
              border-radius: 50%;
              margin: 1rem 0.5rem;
              color: #fff;
              cursor: pointer;
              @include transitionAll(all, 0.3s, linear);
              &:hover {
                @include scale(1.2, 1.2);
              }
            }
          }
        }
      }
      &:hover {
        img {
          @include scale(1.1, 1.1);
        }
        .content {
          opacity: 1;
        }
      }
    }
  }
}

// process
.process {
  padding: 80px 0 160px;
  background: #f6f6f6;
  .container {
    .section-title {
      h2 {
      }
    }
    .wrapper {
      margin: 80px 0;
      .nav-tabs {
        text-align: center;
        border-bottom: 0px #bcc6d0 solid;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24%, 1fr));
        gap: 0px 0px;
        height: 150px;

        li {
          height: 100%;
          @include transitionAll(all, 0.5s, linear);
          @include clearfix;
          a {
            transition: all 300ms ease-in-out;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            height: 100%;
            &::before {
              content: "";
              display: inline-block;
              width: 100%;
              height: 1px;
              // border-radius: 50%;
              position: relative;
              background: #bcc6d0;
              top: 50%;
              right: 0;
              z-index: 2;
            }
            i {
              color: #bcc6d0;
              font-weight: 400;
              font-size: 24px;
              display: block;
              height: 50%;
              position: relative;
              &::after {
                content: "";
                display: inline-block;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                position: absolute;
                background: #bcc6d0;
                bottom: -3.5px;
                right: calc(50% - 7px);
                z-index: 2;
              }
            }
            h5 {
              color: #404040;
              font-size: 14px;
              font-weight: 600;
              text-transform: uppercase;
              display: block;
              margin-top: 50px;
            }
          }
          &:hover {
            i {
              color: var(--first-color);
              &::after {
                background: var(--first-color);
              }
            }
          }
        }
        .active {
          a {
            color: #3a405b;
            font-size: 11px;
            text-transform: uppercase;
            i {
              color: var(--first-color);
              &::after {
                background: var(--first-color);
              }
            }
            h5 {
            }
          }
        }
        @include xs-media {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
          gap: 0px 0px;
          height: auto;
          li {
            height: 100%;
            padding: 1rem;

            @include transitionAll(all, 0.5s, linear);
            @include clearfix;
            a {
              transition: all 300ms ease-in-out;
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              position: relative;
              height: 100%;
              &::before {
                // content: "";
                display: inline-block;
                width: 100%;
                height: 0px;
                // border-radius: 50%;
                position: relative;
                background: #bcc6d0;
                top: 50%;
                right: 0;
                z-index: 2;
              }
              i {
                color: #bcc6d0;
                font-weight: 400;
                font-size: 24px;
                display: block;
                height: 50%;
                position: relative;
                &::after {
                  // content: "";
                  display: inline-block;
                  width: 7px;
                  height: 7px;
                  border-radius: 50%;
                  position: absolute;
                  background: transparent;
                  bottom: -3.5px;
                  right: calc(50% - 7px);
                  z-index: 2;
                }
              }
              h5 {
                color: #404040;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                display: block;
                margin-top: 1rem;
              }
            }
            &:hover {
              i {
                color: var(--first-color);
                &::after {
                  background: var(--first-color);
                  background: transparent;
                }
              }
            }
          }
          .active {
            background: var(--first-color);
            padding: 1rem;
            a {
              color: #3a405b;
              font-size: 11px;
              text-transform: uppercase;
              i {
                color: #fff;
                &::after {
                  background: var(--first-color);
                  background: transparent;
                }
              }
              h5 {
                margin-top: 1rem;
                color: #fff;
              }
            }
          }
        }
      }
      // tabs-content
      .tabs-content {
        @include xs-media {
          // margin-top: 300px;
        }
        .content-one,
        .content-tow,
        .content-three,
        .content-four {
          margin: 80px 0;

          .box {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
            gap: 4rem 3%;
            @include xs-media {
              grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
              img {
                width: 100%;
              }
            }
            .img {
              img {
                height: 100%;
              }
            }
            .text {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              padding: 5rem 3rem;
              @include xs-media {
                padding: 5rem 1rem;
              }

              .h1 {
                font-size: 42px;
                font-weight: 600;
                @include xs-media {
                  font-size: 2rem;
                }
              }
              p {
                margin-top: 50px;
                margin-bottom: 30px;
                font-family: "PT Serif", serif;
              }
              a {
                color: var(--first-color);
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

.count {
  padding: 80px 0;
  background-image: url(../images//homePage//count-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  &::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  .container {
    z-index: 2;
    .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
      gap: 0px 0px;
      z-index: 2;
      @include xs-media {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        gap: 20px 0px;
      }
      .item {
        font-size: 2rem;
        color: #fff;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        > div {
          color: #fff;
        }
        .icon {
          i {
            font-size: 42px;
          }
        }
      }
    }
  }
}

// testimonials-block
.testimonials-block {
  margin: 80px 0;
  .container {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      margin: 40px auto;
      text-align: center;
      .img {
        img {
          width: 184px;
          height: 184px;
          object-fit: cover;
          overflow: hidden;
          @include borderRadius(50%);
        }
      }
      .disc {
        p {
          color: #6f6f6f;
          font-weight: 400;
          text-transform: none;
          font-size: 16px;
          line-height: 1.6;
          margin-top: 15px;
        }
      }
    }
    .swiper-pagination-bullet {
      background: #6f6f6f;
      border: 2px #6f6f6f solid;
      width: 15px;
      height: 15px;
    }
    .swiper-pagination-bullet-active {
      border: 2px #ff5959 solid;
      background: #fff;
    }
  }
}

// latest-news-block
.latest-news-block {
  // margin: 80px 0;
  padding: 130px 0 160px;
  background: #f6f6f6;
  position: relative;
  .section-title {
    margin-bottom: 150px;
    h2 {
      font-size: 32px;
      color: #404040;
      font-weight: 600;
      margin-bottom: 10px;
      display: block;
      max-width: 600px;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      &::after {
        border: 1px #ccc solid;
        width: 64px;
        height: 64px;
        content: "";
        display: inline-block;
        position: absolute;
        margin-top: -12px;
        left: 45%;
        transform: rotate(136deg);
        z-index: -1;
      }
    }
    a {
      float: right;
      padding: 12px 50px;
      font-size: 11px;
      line-height: 1.42857143;
      border-radius: 0px;
      user-select: none;
      background-color: transparent;
      border: 2px #d9d9d9 solid;
      color: #404040;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.8px;
      margin-top: -43px;
      text-align: right;
      @include transitionAll(all, 0.5s, linear);
      &:hover {
        background-color: var(--first-color);
      }
      @include xs-media {
        float: none;
        margin-top: 50px;
        display: inline-block;
      }
    }
  }
  .wrapper-news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    gap: 1rem 2%;
    margin: auto;
    @include xs-media {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .news {
      width: 100%;
      text-align: center;
      @include transitionAll(all, 0.3s, linear);

      img {
        width: 100%;
        height: 200px;
      }
      .title {
        font-size: 13px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        color: #404040;
        font-weight: 600;
        line-height: 1.5;
        font-style: normal;
        margin: 1rem auto 6px;
      }
      .bottom {
        font-family: "PT Serif", serif;
        color: #6f6f6f;
        font-size: 14px;
        font-style: italic;
        margin-top: 5px;
      }
      &:hover {
        background-color: #fff;
        box-shadow: 0px 5px 27px 0px rgb(0 0 0 / 30%);
      }
    }
  }
}
