//- JQuery
//- script(src="https://hossamrashad.github.io/libraries/js/JQuery/jquery-3-6-0.min.js")
script(src="js/libs/JQuery/jquery-3-6-0.min.js")

//- JQuery Ui
//- script(src="js/libs/jqueryUi/jquery-ui.js")

//- bootstrap 5.0.1
//- script(src="https://hossamrashad.github.io/libraries/js/bootstrap/bootstrap-5.0.1-min.js")
script(src="js/libs/bootstrap/bootstrap-5.0.1-min.js")
//- script(src="js/bootstrap/bootstrap.js")

//- countTo
//- script(src="https://hossamrashad.github.io/libraries/js/countTo/jquery.countTo.js")








//- Start Javascript
script(src="js/script.js") 