footer(class='footer') 
  div(class='container')
    div(class='content')
      div(class='copyright')
        p(class='') © 2022 
          span(class='') Grit. 
          | All rights reserved
      div(class='pages') 
        ul 
          li
            a(href="#") faq
          li
            a(href="#") Privacy
          li
            a(href="") blog 
          li
            a(href="") pricing 
      div(class='social-icon')
        i(class='fab fa-twitter')
        i(class='fab fa-facebook')
        i(class='fab fa-instagram')
        i(class='fab fa-dribbble')

