doctype html
html(lang="en")
  head
    include head/head-global.pug
    title Agency
    //- swiper For Slider
    // ============================= Start Swiper  ============================= 
    link(rel="stylesheet" href="css/libs/swiper/swiper-bundle.min.css")
    // ============================= End Swiper  ============================= 


  body 
    header(class="header" id='header')
      nav(class="nav")


    include script/script.pug
    // Swiper JS
    script(src="js/libs/swiper/swiper-bundle.min.js")
    script(src="http://localhost:35729/livereload.js")


